<div id="education">

	<h1 class="about-information-header" data-aos="fade-left"
		data-aos-duration="1000" translate>FORMACIÓN</h1>
	<div class="section-line about-information-section-line"
		data-aos="fade-left" data-aos-duration="1500"></div>
	<div class="education-content">
		<div class="education-list">
			<ul>
				<li><span class="primary-color">Grado superior en desarrollo de
						aplicaciones multiplataforma</span> - IES San Clemente (2012-2014)</li>
				<li><span class="primary-color">Grado en Ingeniería
						Informática</span> - Universidad de Santiago de Compostela (2014-2015)</li>
				<li><span class="primary-color">Grado en Ingeniería
						Informática</span> - Universidad de A Coruña (2015-2019)</li>
			</ul>
		</div>

	</div>
</div>