<section id="education">

	<h1 class="about-information-header" data-aos="fade-left"
		data-aos-duration="1000" translate>CURRÍCULUM</h1>
	<div class="section-line about-information-section-line"
		data-aos="fade-left" data-aos-duration="1500"></div>
	<div class="education-content" data-aos="fade-in"
		data-aos-duration="1500">
		<h2 data-aos="fade-in" data-aos-duration="1500">EXPERIENCIA</h2>
		
		<div class="timeline" data-aos="fade-in" data-aos-duration="2000">
			<div class="timeline-container right">
				<div class="content" data-aos="flip-right">
					<div class="timeline-container-title">
						<h3>ATOS</h3>
						<h4>2020-Presente</h4>
					</div>
					<div class="description">
						Programador Junior<span class="primary-color"></span>
						<p>Desarrollo de aplicaciones web para la AMTEGA en el ámbito de mobilidad empleando tecnologías Java (Spring, Hibernate, Thymeleaf, JSP...) Bootstrap, JQuery y Oracle dentro de un marco SCRUM.</p>
					</div>
				</div>
			</div>
			<div class="timeline-container left">
				<div class="content" data-aos="flip-left">
					<div class="timeline-container-title">
						<h3>Primate Multimedia Ibérica S.L.</h3>
						<h4>2014</h4>
					</div>
					<div class="description">
						Prácticas de empresa
						<p>Desarrollo de aplicaciones Android</p>
						<p>Desarrollo web con Bootstrap y JQuery</p>
					</div>
				</div>
			</div>
		</div>
		
		<h2 data-aos="fade-in" data-aos-duration="1500">FORMACIÓN</h2>

		<div class="timeline" data-aos="fade-in" data-aos-duration="2000">
			<div class="timeline-container left">
				<div class="content" data-aos="flip-right">
					<div class="timeline-container-title">
						<h3>Universidad de A Coruña</h3>
						<h4>2015-2019</h4>
					</div>
					<p>
						<span class="primary-color">Grado en Ingeniería Informática</span>
					</p>
				</div>
			</div>
			<div class="timeline-container right">
				<div class="content" data-aos="flip-right">
					<div class="timeline-container-title">
						<h3>Universidad de Santiago de Compostela</h3>
						<h4>2014-2015</h4>
					</div>
					<p>
						<span class="primary-color">Grado en Ingeniería Informática</span>
					</p>
				</div>
			</div>
			<div class="timeline-container left">
				<div class="content" data-aos="flip-right">
					<div class="timeline-container-title">
						<h3>IES San Clemente</h3>
						<h4>2012-2014</h4>
					</div>
					<p>
						Grado Superior en <span class="primary-color"> Desesarrollo
							de Aplicaciones Multiplataforma</span>
					</p>
				</div>
			</div>
		</div>

	</div>

</section>