<div id="footer-information" class="footer_top">
<svg preserveAspectRatio="none" viewBox="0 0 100 102" height="75" width="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="svgcolor-light">
      <path d="M50 0 L75 100 L100 0 Z" fill="#F5F5F5" stroke="#F5F5F5"></path>
    </svg>
    
    <h1 translate>CONTACTO</h1>
	<div class="section-line"></div>
    
</div>

<input-user-data-form></input-user-data-form>

<div class="print_contact_information content">
	<div>
		<div>
			<fa-icon class="fa-icon" [icon]="faEmail"></fa-icon>
			pablorivcam@gmail.com
		</div>
	</div>
	
</div>

<div class="footer_container content">
	<div [ngx-scroll-to]="'#intial-animation-container'" class="return-button">
		<fa-icon class="fa-icon" [icon]="faArrowRight"></fa-icon>
	</div>
	<div class="pabloRivasLabel">Pablo Rivas Camino - 2019</div>

</div>