<section id="about-information">

	<h1 class="about-information-header" data-aos="fade-left" data-aos-duration="1000" translate>SOBRE MI</h1>
	<div class="section-line about-information-section-line" data-aos="fade-left" data-aos-duration="1500"></div>
	<div class="content">
		<!-- <div id="avatar" data-aos="flip-left" data-aos-duration="1000">
			<img src="assets/avatar.png">
		</div>-->
		<div class="about-content" data-aos="fade-zoom-in"
			data-aos-easing="ease-in-back" data-aos-delay="200"
			data-aos-duration="500">
			<div class="about-content-text">
				<span>Soy Pablo Rivas Camino, <span class="primary-color">ingeniero informático</span> y 
				<span class="primary-color">técnico
					superior en desarrollo de aplicaciones multiplataforma</span> con
					exeperiencia e interés en el sector del desarrollo software. A los
					14 años llegó a mis manos un manual de Turbo Pascal y desde
					entonces programar se convirtió en uno de mis principales hobbies y
					en mi profesión, soliendo dedicar parte de mi tiempo libre a
					aprender conceptos nuevos. Aprendo rápido, disfruto trabajando en
					marcos ágiles y me considero una persona muy sociable a la que le
					gustan los retos. También soy aficionado al desarrollo de
					videojuegos, a la música y a la edición de sonido. </span>
			</div>
		</div>
	</div>

</section>
