<section id="about-information">

	<h1 class="about-information-header" data-aos="fade-left" data-aos-duration="1000" translate>SOBRE MI</h1>
	<div class="section-line about-information-section-line" data-aos="fade-left" data-aos-duration="1500"></div>
	<div class="content">
		<!-- <div id="avatar" data-aos="flip-left" data-aos-duration="1000">
			<img src="assets/avatar.png">
		</div>-->
		<div class="about-content" data-aos="fade-zoom-in"
			data-aos-easing="ease-in-back" data-aos-delay="200"
			data-aos-duration="500">
			<div class="about-content-text">
				<span translate>Soy Pablo Rivas Camino, </span><span class="primary-color">ingeniero software</span>
				<span translate> por la Universidad de A Coruña y </span>
				<span class="primary-color">técnico superior en desarrollo de aplicaciones multiplataforma</span>
				<span translate> graduado en el IES San Clemente, Galicia, España, con interés y formación en el ámbito de las aplicaciones web y Android. También soy aficionado al desarrollo de videojuegos 2D y a la edición de sonido.</span>
			</div>
		</div>
	</div>

</section>
