<div id="curriculum">

	<div id="curriculum-header">

		<div id="curriculum-photo">
			<img src="assets/avatar.png">
		</div>
		<div id="curriculum-name">
			<h2>Pablo Rivas Camino</h2>
		</div>

		<div id="curriculum-header-info">
			<div>
				<fa-icon class="fa-icon" [icon]="faEmail"></fa-icon>
				pablorivcam@gmail.com
			</div>
			<div>
				<fa-icon class="fa-icon" [icon]="faPhone"></fa-icon>
				+34 123 456 789
			</div>
			<div>
				<fa-icon class="fa-icon" [icon]="faWeb"></fa-icon>
				<a href="https://pablorivcam.github.io/personalweb/">https://pablorivcam.github.io/personalweb/</a>
			</div>
			<div>
				<fa-icon class="fa-icon" [icon]="faLocation"></fa-icon>
				<a href="https://pablorivcam.github.io/personalweb/">Santiago de Compostela, A Coruña, España</a>
			</div>
		</div>
	</div>
	<div id="curriculum-content">ijoijoiojjoi jiojiojo</div>
	<div id="curriculum-footer"></div>

</div>
