#curriculum{
	font-family: 'Raleway';
    font-weight: 500;
    height: 100%;
}

#curriculum-name{
	padding-top: 0.9em;
}

#curriculum-name h2{
	font-size: 3rem;
	color: #FFFFFF;
}

hr {
	margin-top: 1px;
}

#curriculum-name h4{
	font-size: 2rem;
}

#curriculum-header{
	display : inline-flex;
	width: 100%;
	padding: 1em;
	background: #0074A5;
	color: #FFFFFF;
}

#curriculum-footer{
	width: 100%;
	padding: 3em 0.5em;
	background: #212529;
}

#curriculum-content{
	width: 100%;
	height: 86%;	
	display: flex;	
}

.curriculum-left-section{
	width: 30%;
	background: #F0F0F0;	
	padding: 1em;
	padding-left: 2em;
}

.curriculum-left-section h2{
	text-align: center;
}

.curriculum-right-section{
	width: 70%;
	padding: 1em;
	background: #FFFFFF;	
}

#curriculum-header-info{
	margin: auto 1em auto auto;
}

#curriculum-header-info a{
	color: #FFFFFF;
}

#curriculum-photo img{
	width: 10em;
	height: 10em;
}

#curriculum-header-info fa-icon{
	margin-right: 0.5em;
}

h2{
	width:100%;
	font-size: 1.5rem;	
	margin: 0;
	text-align: center;
	font-weight: bold;
	padding: 0em;
	color: #0074A5;
}

.study-years{
	margin-bottom: 1em;
}

.study-title{
	font-weight: bold;
}

.curriculum-skills, .curriculum-main-content{
	margin: 1em;
}

.curriculum-skill-category-title{
	font-weight: bold;
}
.curriculum-skill-group{
	display: flex;
}

.curriculum-skill-category{
	width: 50%;
}

.curriculum-skill-category{
	margin: 1em auto;
}

.curriculum-skill-progress{
	height: 0.3em;
	margin: auto 0em auto 1em;
	background-color: #1C5D99;
}
.languajes-list-item{
	display: flex;
	list-style-type: circle;
}
.curriculum-skill-languaje-name{
	width: 5.5em;
}
.curriculum-skill-progress-limit{
	width: 10px;
	height: 0.3em;
	margin: auto 0em;
	background-color: #D5D5D5;
}
.curriculum-skill-progress-container{
	width: 200px;
	display:flex;
}

.customTable{
	width: 100%;
}

.customTable td:first-child {
	color: #999999;
	width: 10em;	
	text-align: right;
	vertical-align: top;
}
	
.customTable td:nth-child(even){
	padding-left: 1em;
	vertical-align: top;
}

.customTable tr td{
	padding-bottom: 1em;
}

.skillTable fa-icon {
	margin: 0 0.15em;
	color: #0074A5;
}

.skillTable td:first-child {
	width: 6em;	
	vertical-align: top;
}

.languajeSkill span{
	margin-right: 1em;
	width: 50px;
}

	