<div id="curriculum">

	<div id="curriculum-header">

		<div id="curriculum-name">
			<h2>Pablo Rivas Camino</h2>
			<h4>Ingeniero Informático</h4>
		</div>

		<div id="curriculum-header-info">
			<div>
				<fa-icon class="fa-icon" [icon]="faEmail"></fa-icon>
				pablorivcam@gmail.com
			</div>
			<div>
				<fa-icon class="fa-icon" [icon]="faPhone"></fa-icon>
				+34 650 420 984
			</div>
			<!-- <div>
				<fa-icon class="fa-icon" [icon]="faWeb"></fa-icon>
				https://pablorivcam.github.io/personalweb/
			</div>-->
			<div>
				<fa-icon class="fa-icon" [icon]="faLocation"></fa-icon>
				Santiago de Compostela, A Coruña, España
			</div>
		</div>
	</div>
	<div id="curriculum-content">
		<div class="curriculum-right-section">
			<div class="curriculum-main-content">Soy Pablo Rivas Camino, ingeniero informático y técnico superior en desarrollo de aplicaciones multiplataforma con experiencia e interés en el sector del desarrollo software. A los 14 años llegó a mis manos un manual de Turbo Pascal y desde entonces programar se convirtió en uno de mis principales hobbies y en mi profesión, soliendo dedicar parte de mi tiempo libre a aprender conceptos nuevos. Soy bastante curioso de naturaleza, aprendo rápido y me considero una persona muy sociable a la que le gustan los retos. También me apasiona la música y la edición de sonido.</div>

			<h2>Experiencia</h2>
			<hr />

			<table class="customTable">
				<colgroup>
					<col>
					<col>
				</colgroup>
				<tr>
					<td>01.2020-Presente<br />Atos
					</td>
					<td><b>Desarrollador software</b><br /> Actualmente trabajo
						desarrollando, manteniendo e integrando aplicaciones para la
						AMTEGA en el ámbito de Movilidad y Transporte interviniendo en
						todas las etapas del ciclo de desarrollo en un marco SCRUM.
						Principalmente trabajo con tecnologías Java y JavaScript tales como Maven,
						Jenkins, Spring, Hibernate, Thymeleaf, JPA, Oracle, etc. Aunque
						originalmente comencé mi contrato presencialmente, por causa de la
						pandemia sufrida en 2020 tuve que trabajar de en remoto hasta el
						día de hoy.</td>
				</tr>
				<tr>
					<td>2019<br />Universidad de la Coruña
					</td>
					<td><b>Plataforma para seguimiento de vehículos en tiempo
							real para empresas de transporte (TFG)</b><br /> Tras finalizar el
						grado desarrollé un proyecto para el seguimiento de vehículos vía
						GPS dentro de un marco de trabajo SCRUM. El proyecto consistió en
						crear una aplicación web de gestión de transportes desarrollada
						con Angular+Spring+Hibernate+MySQL utilizando JHipster para agilizar el
						desarrollo; junto con una segunda aplicación Android encargada de
						enviar los datos de posicionamiento de los vehículos en tiempo
						real a la primera mediante un servicio REST.</td>
				</tr>
				<tr>
					<td>03.2014 - 06.2014<br />Primate Multimedia Ibérica S.L.
					</td>
					<td><b>Prácticas en empresa</b><br /> Durante este período,
						trabajé desarrollando diferentes aplicaciones móviles y páginas
						web utilizando tecnologías Android y JavaScript.</td>
				</tr>
			</table>

			<h2>Formación</h2>
			<hr />

			<table class="customTable">
				<colgroup>
					<col>
					<col>
				</colgroup>
				<tr>
					<td>2015-2019<br />Universidad de A Coruña
					</td>
					<td><b>Grado en Ingeniería Informática - Mención en
							Ingeniería del Software</b><br /> Cursé las asignaturas obligatorias
						del grado y las de la mención de ingeniería del software
						realizando varios proyectos en los que utilicé muchas de las
						tecnologías y conceptos que a día de hoy domino como Git, Spring,
						Hibernate, bases de datos relacionales, SCRUM, PUDS, etc.</td>
				</tr>
				<tr>
					<td>2014-2015<br />Universidad de Santiago de Compostela
					</td>
					<td><b>Grado en Ingeniería Informática - Formación Básica</b><br />
						Durante este año aprendí los conceptos básicos de ingeniería y
						computación.</td>
				</tr>
				<tr>
					<td>2012-2014<br />IES San Clemente
					</td>
					<td><b>Grado Superior en Desarrollo de Aplicaciones
							Multiplataforma</b><br /> Aprendí los conceptos básicos del
						desarrollo de aplicaciones software modernas utilizando Java, Android,
						.NET, PotgreSQL, SQLite, PHP, etc.</td>
				</tr>
			</table>

			<h2>Habilidades</h2>
			<hr />
			<div class="curriculum-skills">
				<div class="curriculum-skill-group">
					<!-- <div class="curriculum-skill-category">
						<div class="curriculum-skill-category-title" style="margin: auto">Lenguajes:</div>
						<ul>
							<li><div class="languajes-list-item">
									<div class="curriculum-skill-languaje-name">HTML</div>
									<div class="curriculum-skill-progress-container">
										<div class="curriculum-skill-progress" style="width: 144px"></div>
										<div class="curriculum-skill-progress-limit"
											style="width: 16px"></div>
									</div>
								</div></li>
							<li><div class="languajes-list-item">
									<div class="curriculum-skill-languaje-name">Java</div>
									<div class="curriculum-skill-progress-container">
										<div class="curriculum-skill-progress" style="width: 128px"></div>
										<div class="curriculum-skill-progress-limit"
											style="width: 32px"></div>
									</div>
								</div></li>
							<li><div class="languajes-list-item">
									<div class="curriculum-skill-languaje-name">CSS</div>
									<div class="curriculum-skill-progress-container">
										<div class="curriculum-skill-progress" style="width: 128px"></div>
										<div class="curriculum-skill-progress-limit"
											style="width: 32px"></div>
									</div>
								</div></li>
							<li><div class="languajes-list-item">
									<div class="curriculum-skill-languaje-name">TypeScript</div>
									<div class="curriculum-skill-progress-container">
										<div class="curriculum-skill-progress" style="width: 112px"></div>
										<div class="curriculum-skill-progress-limit"
											style="width: 48px"></div>
									</div>
								</div></li>
							<li><div class="languajes-list-item">
									<div class="curriculum-skill-languaje-name">JavaScript</div>
									<div class="curriculum-skill-progress-container">
										<div class="curriculum-skill-progress" style="width: 104px"></div>
										<div class="curriculum-skill-progress-limit"
											style="width: 56px"></div>
									</div>
								</div></li>
							<li><div class="languajes-list-item">
									<div class="curriculum-skill-languaje-name">C#</div>
									<div class="curriculum-skill-progress-container">
										<div class="curriculum-skill-progress" style="width: 96px"></div>
										<div class="curriculum-skill-progress-limit"
											style="width: 64px"></div>
									</div>
								</div></li>
							<li><div class="languajes-list-item">
									<div class="curriculum-skill-languaje-name">PHP</div>
									<div class="curriculum-skill-progress-container">
										<div class="curriculum-skill-progress" style="width: 96px"></div>
										<div class="curriculum-skill-progress-limit"
											style="width: 64px"></div>
									</div>
								</div></li>
							<li><div class="languajes-list-item">
									<div class="curriculum-skill-languaje-name">SQL</div>
									<div class="curriculum-skill-progress-container">
										<div class="curriculum-skill-progress" style="width: 96px;"></div>
										<div class="curriculum-skill-progress-limit"
											style="width: 64px"></div>
									</div>
								</div></li>
							<li><div class="languajes-list-item">
									<div class="curriculum-skill-languaje-name">Python</div>
									<div class="curriculum-skill-progress-container">
										<div class="curriculum-skill-progress" style="width: 80px"></div>
										<div class="curriculum-skill-progress-limit"
											style="width: 80px"></div>
									</div>
								</div></li>
							<li><div class="languajes-list-item">
									<div class="curriculum-skill-languaje-name">C</div>
									<div class="curriculum-skill-progress-container">
										<div class="curriculum-skill-progress" style="width: 80px"></div>
										<div class="curriculum-skill-progress-limit"
											style="width: 80px"></div>
									</div>
								</div></li>

						</ul>
					</div>-->
					<div class="curriculum-skill-group" style="margin: auto">
						<div class="curriculum-skill-category">
							<ul style="padding-bottom: 20em">
								<li>Trabajo en equipo</li>
								<li>Creatividad</li>
								<li>Compromiso con los proyectos.</li>
								<li>Rápido aprendizaje</li>
								<li>Liderazgo</li>
							</ul>
						</div>
						<div class="curriculum-skill-category">
							<ul style="padding-bottom: 20em">
								<li>Autodidacta</li>
								<li>Iniciativa</li>
								<li>Código limpio</li>
								<li>Paciencia</li>
								<li>Resolución de problemas</li>
								<li>Metodologías Ágiles</li>
							</ul>
						</div>

					</div>
				</div>
				<!-- <div class="curriculum-skill-group">
					<div class="curriculum-skill-category">
						<div class="curriculum-skill-category-title">Multimedia:</div>
						<ul>
							<li>Edición de Sonido</li>
							<li>Edición de Vídeo</li>
							<li>Edición de Imagen</li>
						</ul>
					</div>
					<div class="curriculum-skill-category">
						<div class="curriculum-skill-category-title">Otros:</div>
						<ul>
							<li>Carnet de conducir B</li>
							<li>Incorporación inmediata</li>
						</ul>
					</div>
				</div>-->

			</div>

		</div>
		<div class="curriculum-left-section">
			<h2>IT Skills</h2>
			<hr />
			<p style="font-weight: bold">Lenguajes</p>

			<table class="skillTable">
				<tr style="font-size: 0.75em;">
					<td style="vertical-align: baseline; font-style: italic">(nivel)
					</td>
					<td
						style="font-size: 0.75em; display: inline-flex; width: 100%; font-weight: normal">
						<div style="width: 45%">Bajo</div>
						<div style="width: 55%"></div>
						<div style="float: right">Alto</div>
					</td>
				</tr>
				<tr>
					<td>Java</td>
					<td><fa-icon class="fa-icon" [icon]="faCircle"></fa-icon> <fa-icon
							class="fa-icon" [icon]="faCircle"></fa-icon> <fa-icon
							class="fa-icon" [icon]="faCircle"></fa-icon> <fa-icon
							class="fa-icon" [icon]="faCircle"></fa-icon> <fa-icon
							class="fa-icon" [icon]="faCircle"></fa-icon></td>
				</tr>
				<tr>
					<td>JavaScript</td>
					<td><fa-icon class="fa-icon" [icon]="faCircle"></fa-icon> <fa-icon
							class="fa-icon" [icon]="faCircle"></fa-icon> <fa-icon
							class="fa-icon" [icon]="faCircle"></fa-icon> <fa-icon
							class="fa-icon" [icon]="faCircle"></fa-icon></td>
				</tr>
				<tr>
					<td>TypeScript</td>
					<td><fa-icon class="fa-icon" [icon]="faCircle"></fa-icon> <fa-icon
							class="fa-icon" [icon]="faCircle"></fa-icon> <fa-icon
							class="fa-icon" [icon]="faCircle"></fa-icon> <fa-icon
							class="fa-icon" [icon]="faCircle"></fa-icon></td>
				</tr>
				<tr>
					<td>SQL</td>
					<td><fa-icon class="fa-icon" [icon]="faCircle"></fa-icon> <fa-icon
							class="fa-icon" [icon]="faCircle"></fa-icon> <fa-icon
							class="fa-icon" [icon]="faCircle"></fa-icon> <fa-icon
							class="fa-icon" [icon]="faCircle"></fa-icon></td>
				</tr>
				<tr>
					<td>C#</td>
					<td><fa-icon class="fa-icon" [icon]="faCircle"></fa-icon> <fa-icon
							class="fa-icon" [icon]="faCircle"></fa-icon> <fa-icon
							class="fa-icon" [icon]="faCircle"></fa-icon></td>
				</tr>
				<tr>
					<td>Python</td>
					<td><fa-icon class="fa-icon" [icon]="faCircle"></fa-icon><fa-icon class="fa-icon" [icon]="faCircle"></fa-icon></td>
				</tr>
				<tr>
					<td>PHP</td>
					<td><fa-icon class="fa-icon" [icon]="faCircle"></fa-icon> <fa-icon
							class="fa-icon" [icon]="faCircle"></fa-icon></td>
				</tr>
				<tr>
					<td>C</td>
					<td><fa-icon class="fa-icon" [icon]="faCircle"></fa-icon></td>
				</tr>
			</table>

			<p style="margin-top: 1em">
				<i>Otros:</i> HTML, CSS
			</p>
			<p style="font-weight: bold">Herramientas utilizadas</p>

			<p>Spring, Hibernate, React, Angular, .NET, Vue, Thymeleaf, Maven, Git, SASS,
				Eclipse, Tomcat, JQuery, JHipster, LaTeX, Sonar, Bootstrap, Android
				SDK, Jenkins, npm, Subversion, Oracle, MySQL, JSP, JUnit, Selenium, Unity</p>

			<p style="font-weight: bold">Sistemas Operativos</p>
			<p>Linux, Windows, Android</p>

			<h2>Idiomas</h2>
			<hr />
			<div class="curriculum-languaje">
				<span style="font-weight: bold">Español:</span> nativo
			</div>
			<div class="curriculum-languaje">
				<span style="font-weight: bold">Gallego:</span> nativo
			</div>
			<div class="curriculum-languaje">
				<span style="font-weight: bold">Inglés:</span> medio (B1)
			</div>
			<br />
			<h2>Sobre mi</h2>
			<hr />
			<div class="curriculum-languaje">
				<span style="font-weight: bold">Fecha de nacimiento:</span>
				19/05/1994
			</div>
			<div class="curriculum-languaje">
				<span style="font-weight: bold">Nacionalidad:</span> Española
			</div>
			<div class="curriculum-languaje">
				<span style="font-weight: bold">Permiso de conducir:</span> Si
			</div>

		</div>
	</div>
	<div id="curriculum-footer"></div>

</div>
