<div id="curriculum">

	<div id="curriculum-header">

		<div id="curriculum-name">
			<h2>Pablo Rivas Camino</h2>
			<h4 style="padding-left: 1em">Java Developer</h4>
		</div>

		<div id="curriculum-header-info">
			<div>
				<fa-icon class="fa-icon" [icon]="faEmail"></fa-icon>
				pablorivcam@gmail.com
			</div>
			<div>
				<fa-icon class="fa-icon" [icon]="faPhone"></fa-icon>
				+34 123 456 789
			</div>
			<div>
				<fa-icon class="fa-icon" [icon]="faWeb"></fa-icon>
				https://pablorivcam.github.io/personalweb/
			</div>
			<div>
				<fa-icon class="fa-icon" [icon]="faLocation"></fa-icon>
				Santiago de Compostela, A Coruña, España
			</div>
		</div>
	</div>
	<div id="curriculum-content">
		<div class="curriculum-left-section">
			<h2>Experiencia</h2>
			<div class="section-line"></div>
			<div class="study-title">Alumno en prácticas</div>
			<div class="study-place">Primate Multimedia Ibérica S.L.</div>
			<div class="study-years">(2014)</div>
			<h2>Formación</h2>
			<div class="section-line"></div>
			<div class="study-title">Grado en Ingeniería Informática</div>
			<div class="study-place">Universidad de A Coruña</div>
			<div class="study-years">(2015-2019)</div>
			<div class="study-title">Grado en Ingeniería Informática</div>
			<div class="study-place">Universidad de Santiago de Compostela</div>
			<div class="study-years">(2014-2015)</div>
			<div class="study-title">Grado Superior en Desesarrollo de
				Aplicaciones Multiplataforma</div>
			<div class="study-place">IES San Clemente</div>
			<div class="study-years">(2012-2014)</div>
			<h2>Idiomas</h2>
			<div class="section-line"></div>
			<div class="curriculum-languaje">
				<span style="font-weight: bold">Español</span> (nativo)
			</div>
			<div class="curriculum-languaje">
				<span style="font-weight: bold">Gallego</span> (nativo)
			</div>
			<div class="curriculum-languaje">
				<span style="font-weight: bold">Inglés</span> (medio)
			</div>

		</div>
		<div class="curriculum-right-section">
			<h2>Acerca de mi</h2>
			<div class="section-line"></div>
			<div class="curriculum-main-content">Soy Pablo Rivas Camino,
				ingeniero técnico especializado en software por la Universidad de A
				Coruña y técnico superior en desarrollo de aplicaciones
				multiplataforma graduado en el IES San Clemente, Galicia, España,
				con interés y formación en el ámbito de las aplicaciones web y
				Android. También soy aficionado al desarrollo de videojuegos 2D y a
				la edición de sonido.</div>
			<h2>Habilidades</h2>
			<div class="section-line"></div>
			<div class="curriculum-skills">
				<div class="curriculum-skill-group">
					<div class="curriculum-skill-category">
						<div class="curriculum-skill-category-title">Lenguajes:</div>
						<ul>
							<li><div class="languajes-list-item">
									<div class="curriculum-skill-languaje-name">HTML</div>
									<div class="curriculum-skill-progress-container">
										<div class="curriculum-skill-progress"
											style="width: 144px; margin-right: 16px"></div>
										<div class="curriculum-skill-progress-limit"></div>
									</div>
								</div></li>
								<li><div class="languajes-list-item">
									<div class="curriculum-skill-languaje-name">Java</div>
									<div class="curriculum-skill-progress-container">
										<div class="curriculum-skill-progress"
											style="width: 128px; margin-right: 32px"></div>
										<div class="curriculum-skill-progress-limit"></div>
									</div>
								</div></li>
								<li><div class="languajes-list-item">
									<div class="curriculum-skill-languaje-name">TypeScript</div>
									<div class="curriculum-skill-progress-container">
										<div class="curriculum-skill-progress"
											style="width: 128px; margin-right: 32px"></div>
										<div class="curriculum-skill-progress-limit"></div>
									</div>
								</div></li>
								<li><div class="languajes-list-item">
									<div class="curriculum-skill-languaje-name">JavaScript</div>
									<div class="curriculum-skill-progress-container">
										<div class="curriculum-skill-progress"
											style="width: 118px; margin-right: 42px"></div>
										<div class="curriculum-skill-progress-limit"></div>
									</div>
								</div></li>
								<li><div class="languajes-list-item">
									<div class="curriculum-skill-languaje-name">CSS</div>
									<div class="curriculum-skill-progress-container">
										<div class="curriculum-skill-progress"
											style="width: 128px; margin-right: 32px"></div>
										<div class="curriculum-skill-progress-limit"></div>
									</div>
								</div></li>
								<li><div class="languajes-list-item">
									<div class="curriculum-skill-languaje-name">C#</div>
									<div class="curriculum-skill-progress-container">
										<div class="curriculum-skill-progress"
											style="width: 128px; margin-right: 32px"></div>
										<div class="curriculum-skill-progress-limit"></div>
									</div>
								</div></li>
								<li><div class="languajes-list-item">
									<div class="curriculum-skill-languaje-name">SQL</div>
									<div class="curriculum-skill-progress-container">
										<div class="curriculum-skill-progress"
											style="width: 96px; margin-right: 64px"></div>
										<div class="curriculum-skill-progress-limit"></div>
									</div>
								</div></li>
								<li><div class="languajes-list-item">
									<div class="curriculum-skill-languaje-name">Python</div>
									<div class="curriculum-skill-progress-container">
										<div class="curriculum-skill-progress"
											style="width: 80px; margin-right: 80px"></div>
										<div class="curriculum-skill-progress-limit"></div>
									</div>
								</div></li>
								<li><div class="languajes-list-item">
									<div class="curriculum-skill-languaje-name">C</div>
									<div class="curriculum-skill-progress-container">
										<div class="curriculum-skill-progress"
											style="width: 80px; margin-right: 80px"></div>
										<div class="curriculum-skill-progress-limit"></div>
									</div>
								</div></li>

						</ul>
					</div>
					<div class="curriculum-skill-category"></div>
				</div>
				<div class="curriculum-skill-group">
					<div class="curriculum-skill-category">
						<div class="curriculum-skill-category-title">Frameworks:</div>
						<ul>
							<li>Angular</li>
							<li>Spring</li>
							<li>Hibernate</li>
							<li>Android</li>
							<li>Bootstrap</li>
							<li>.NET</li>
						</ul>
					</div>
					<div class="curriculum-skill-category">
						<div class="curriculum-skill-category-title">Herramientas:</div>
						<ul>
							<li>Git</li>
							<li>Maven</li>
							<li>Sonar</li>
							<li>Jenkins</li>
						</ul>
					</div>
				</div>
				<div class="curriculum-skill-group">
					<div class="curriculum-skill-category">
						<div class="curriculum-skill-category-title">Soft Skills:</div>
						<ul>
							<li>Creatividad</li>
							<li>Autodidacta</li>
							<li>Trabajo en equipo</li>
							<li>Paciencia</li>
							<li>Liderazgo</li>
							<li>Resolución de problemas</li>
						</ul>
					</div>
					<div class="curriculum-skill-category">
						<div class="curriculum-skill-category-title">Multimedia:</div>
						<ul>
							<li>Edición de Sonido</li>
							<li>Edición de Vídeo</li>
							<li>Edición de Imagen</li>
						</ul>
					</div>
				</div>

			</div>

		</div>
	</div>
	<div id="curriculum-footer"></div>

</div>
