<div id="navbar_container">
	<nav id="navbar" class="navbar navbar-expand-md bg-dark navbar-dark">
		<a class="navbar-brand" href="#"></a>
		<button class="navbar-toggler" (click)="toggleCollapse()"
			type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div [class.show]="show" class="collapse navbar-collapse"
			id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href="#"
					[ngx-scroll-to]="'#intial-animation-container'" translate>Inicio</a></li>
				<li class="nav-item"><a class="nav-link" href="#"
					[ngx-scroll-to]="'#about-information'" [ngx-scroll-to-offset]="-100" translate>Sobre mi</a></li>
				<li class="nav-item"><a class="nav-link" href="#" [ngx-scroll-to]="'#skills-information'" [ngx-scroll-to-offset]="-100" translate>Habilidades</a></li>
				<li class="nav-item"><a class="nav-link" href="#" [ngx-scroll-to]="'#footer-information'" [ngx-scroll-to-offset]="-100" translate>Contacto</a></li>
			</ul>
		</div>
	</nav>
	<div class="nav-line"></div>
</div>