<div id="skills-information">

	<h1 data-aos="fade-right" data-aos-duration="1000" translate>HABILIDADES</h1>
	<div class="section-line" data-aos="fade-right"
		data-aos-duration="1500"></div>
	<div class="content">
		<!-- Begin languajes skill -->
		<div class="skill_category">
			<div class="skill_category_icon" data-aos="fade-right"
				data-aos-duration="1000">
				<img src="assets/code-512.png">
				<h2 style="font-weight: bold" translate>Lenguajes</h2>
			</div>
			<div class="skillbars" data-aos="fade-in">
				<!-- Progress Bar Style 3 Start -->
				<section class="sec-spacer">
					<div class="container container-center">
						<div class="row">
							<div class="col-md-12">
								<div class="progress pd-progress-style3">
									<div class="progress-bar out-of-view" role="progressbar"
										aria-valuenow="93" aria-valuemin="0" aria-valuemax="100"
										style="width: 90%" inViewport
										[inViewportOptions]="{ threshold: [0] }"
										(inViewportAction)="onIntersection($event)">
										<span class="pb-label">HTML</span> <span class="pb-percent">90%</span>
									</div>
								</div>
								<div class="progress pd-progress-style3">
									<div class="progress-bar out-of-view" role="progressbar"
										aria-valuenow="93" aria-valuemin="0" aria-valuemax="100"
										style="width: 80%" inViewport
										[inViewportOptions]="{ threshold: [0] }"
										(inViewportAction)="onIntersection($event)">
										<span class="pb-label">JAVA</span> <span class="pb-percent">80%</span>
									</div>
								</div>
								<div class="progress pd-progress-style3">
									<div class="progress-bar out-of-view" role="progressbar"
										aria-valuenow="93" aria-valuemin="0" aria-valuemax="100"
										style="width: 80%" inViewport
										[inViewportOptions]="{ threshold: [0] }"
										(inViewportAction)="onIntersection($event)">
										<span class="pb-label">CSS</span> <span class="pb-percent">80%</span>
									</div>
								</div>
								<div class="progress pd-progress-style3">
									<div class="progress-bar out-of-view" role="progressbar"
										aria-valuenow="93" aria-valuemin="0" aria-valuemax="100"
										style="width: 70%" inViewport
										[inViewportOptions]="{ threshold: [0] }"
										(inViewportAction)="onIntersection($event)">
										<span class="pb-label">TypeScript</span> <span
											class="pb-percent">70%</span>
									</div>
								</div>
								<div class="progress pd-progress-style3">
									<div class="progress-bar out-of-view" role="progressbar"
										aria-valuenow="93" aria-valuemin="0" aria-valuemax="100"
										style="width: 60%" inViewport
										[inViewportOptions]="{ threshold: [0] }"
										(inViewportAction)="onIntersection($event)">
										<span class="pb-label">C#</span> <span class="pb-percent">60%</span>
									</div>
								</div>
								<div class="progress pd-progress-style3">
									<div class="progress-bar out-of-view" role="progressbar"
										aria-valuenow="93" aria-valuemin="0" aria-valuemax="100"
										style="width: 60%" inViewport
										[inViewportOptions]="{ threshold: [0] }"
										(inViewportAction)="onIntersection($event)">
										<span class="pb-label">SQL</span> <span class="pb-percent">60%</span>
									</div>
								</div>
								<div class="progress pd-progress-style3">
									<div class="progress-bar out-of-view" role="progressbar"
										aria-valuenow="93" aria-valuemin="0" aria-valuemax="100"
										style="width: 50%" inViewport
										[inViewportOptions]="{ threshold: [0] }"
										(inViewportAction)="onIntersection($event)">
										<span class="pb-label">Python</span> <span class="pb-percent">50%</span>
									</div>
								</div>
								<div class="progress pd-progress-style3">
									<div class="progress-bar out-of-view" role="progressbar"
										aria-valuenow="93" aria-valuemin="0" aria-valuemax="100"
										style="width: 50%" inViewport
										[inViewportOptions]="{ threshold: [0] }"
										(inViewportAction)="onIntersection($event)">
										<span class="pb-label">C</span> <span class="pb-percent">50%</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- Progress Bar Style 3 End -->

			</div>

		</div>
		<!-- End languajes skill -->

		<!-- Begin frameworks skill -->
		<div class="skill_category">
			<div class="skill_category_icon" data-aos="fade-down"
				data-aos-duration="1500">
				<img src="assets/framework_icon.png">
				<h2 style="font-weight: bold">Frameworks</h2>
			</div>
			<div class="skillbars" data-aos="fade-in">
				<!-- Progress Bar Style 3 Start -->
				<section class="sec-spacer">
					<div class="container container-center">
						<div class="row">
							<div class="col-md-12">
								<div class="progress pd-progress-style3">
									<div class="progress-bar out-of-view" role="progressbar"
										aria-valuenow="93" aria-valuemin="0" aria-valuemax="100"
										style="width: 70%" inViewport
										[inViewportOptions]="{ threshold: [0] }"
										(inViewportAction)="onIntersection($event)">
										<span class="pb-label">Angular</span> <span class="pb-percent">70%</span>
									</div>
								</div>
								<div class="progress pd-progress-style3">
									<div class="progress-bar out-of-view" role="progressbar"
										aria-valuenow="93" aria-valuemin="0" aria-valuemax="100"
										style="width: 70%" inViewport
										[inViewportOptions]="{ threshold: [0] }"
										(inViewportAction)="onIntersection($event)">
										<span class="pb-label">Spring</span> <span class="pb-percent">70%</span>
									</div>
								</div>
								<div class="progress pd-progress-style3">
									<div class="progress-bar out-of-view" role="progressbar"
										aria-valuenow="93" aria-valuemin="0" aria-valuemax="100"
										style="width: 70%" inViewport
										[inViewportOptions]="{ threshold: [0] }"
										(inViewportAction)="onIntersection($event)">
										<span class="pb-label">Hibernate</span> <span
											class="pb-percent">70%</span>
									</div>
								</div>
								<div class="progress pd-progress-style3">
									<div class="progress-bar out-of-view" role="progressbar"
										aria-valuenow="93" aria-valuemin="0" aria-valuemax="100"
										style="width: 80%" inViewport
										[inViewportOptions]="{ threshold: [0] }"
										(inViewportAction)="onIntersection($event)">
										<span class="pb-label">Android</span> <span class="pb-percent">80%</span>
									</div>
								</div>
								<div class="progress pd-progress-style3">
									<div class="progress-bar out-of-view" role="progressbar"
										aria-valuenow="93" aria-valuemin="0" aria-valuemax="100"
										style="width: 70%" inViewport
										[inViewportOptions]="{ threshold: [0] }"
										(inViewportAction)="onIntersection($event)">
										<span class="pb-label">Bootstrap</span> <span
											class="pb-percent">70%</span>
									</div>
								</div>

							</div>
						</div>
					</div>
				</section>
				<!-- Progress Bar Style 3 End -->

			</div>

		</div>
		<!-- End frameworks skill -->
	</div>

	<!-- NEXT SECTION -->

	<div class="content" style="margin-top: 2em; padding-bottom: 2em">
		<!-- Begin tools skill -->
		<div class="skill_category">
			<div class="skill_category_icon" data-aos="fade-up"
				data-aos-duration="1000">
				<img src="assets/tools.png">
				<h2 style="font-weight: bold" translate>Herramientas</h2>
			</div>
			<div class="skillbars" data-aos="fade-in">
				<!-- Progress Bar Style 3 Start -->
				<section class="sec-spacer">
					<div class="container container-center">
						<div class="row">
							<div class="col-md-12">
								<div class="progress pd-progress-style3">
									<div class="progress-bar out-of-view" role="progressbar"
										aria-valuenow="93" aria-valuemin="0" aria-valuemax="100"
										style="width: 80%" inViewport
										[inViewportOptions]="{ threshold: [0] }"
										(inViewportAction)="onIntersection($event)">
										<span class="pb-label">Git</span> <span class="pb-percent">80%</span>
									</div>
								</div>
								<div class="progress pd-progress-style3">
									<div class="progress-bar out-of-view" role="progressbar"
										aria-valuenow="93" aria-valuemin="0" aria-valuemax="100"
										style="width: 70%" inViewport
										[inViewportOptions]="{ threshold: [0] }"
										(inViewportAction)="onIntersection($event)">
										<span class="pb-label">Maven</span> <span class="pb-percent">70%</span>
									</div>
								</div>
								<div class="progress pd-progress-style3 dotnet-skill">
									<div class="progress-bar out-of-view" role="progressbar"
										aria-valuenow="93" aria-valuemin="0" aria-valuemax="100"
										style="width: 60%" inViewport
										[inViewportOptions]="{ threshold: [0] }"
										(inViewportAction)="onIntersection($event)">
										<span class="pb-label">Gradle</span> <span class="pb-percent">60%</span>
									</div>
								</div>
								<div class="progress pd-progress-style3">
									<div class="progress-bar out-of-view" role="progressbar"
										aria-valuenow="93" aria-valuemin="0" aria-valuemax="100"
										style="width: 70%" inViewport
										[inViewportOptions]="{ threshold: [0] }"
										(inViewportAction)="onIntersection($event)">
										<span class="pb-label">Eclipse</span> <span class="pb-percent">70%</span>
									</div>
								</div>
								<div class="progress pd-progress-style3">
									<div class="progress-bar out-of-view" role="progressbar"
										aria-valuenow="93" aria-valuemin="0" aria-valuemax="100"
										style="width: 60%" inViewport
										[inViewportOptions]="{ threshold: [0] }"
										(inViewportAction)="onIntersection($event)">
										<span class="pb-label">.NET</span> <span class="pb-percent">60%</span>
									</div>
								</div>
								<div class="progress pd-progress-style3">
									<div class="progress-bar out-of-view" role="progressbar"
										aria-valuenow="93" aria-valuemin="0" aria-valuemax="100"
										style="width: 50%" inViewport
										[inViewportOptions]="{ threshold: [0] }"
										(inViewportAction)="onIntersection($event)">
										<span class="pb-label">Unity</span> <span class="pb-percent">50%</span>
									</div>
								</div>

							</div>
						</div>
					</div>
				</section>
				<!-- Progress Bar Style 3 End -->

			</div>

		</div>
		<!-- End tools skill -->

		<!-- Begin multimedia skill -->
		<div class="skill_category">
			<div class="skill_category_icon" data-aos="fade-left"
				data-aos-duration="1500">
				<img src="assets/multimedia.png">
				<h2 style="font-weight: bold">Multimedia</h2>
			</div>
			<div class="skillbars" data-aos="fade-in">
				<!-- Progress Bar Style 3 Start -->
				<section class="sec-spacer">
					<div class="container container-center">
						<div class="row">
							<div class="col-md-12">
								<div class="progress pd-progress-style3">
									<div class="progress-bar out-of-view" role="progressbar"
										aria-valuenow="93" aria-valuemin="0" aria-valuemax="100"
										style="width: 80%" inViewport
										[inViewportOptions]="{ threshold: [0] }"
										(inViewportAction)="onIntersection($event)">
										<span class="pb-label" translate>Edición de Sonido</span> <span
											class="pb-percent">80%</span>
									</div>
								</div>
								<div class="progress pd-progress-style3">
									<div class="progress-bar out-of-view" role="progressbar"
										aria-valuenow="93" aria-valuemin="0" aria-valuemax="100"
										style="width: 70%" inViewport
										[inViewportOptions]="{ threshold: [0] }"
										(inViewportAction)="onIntersection($event)">
										<span class="pb-label" translate>Edición de Vídeo</span> <span
											class="pb-percent">70%</span>
									</div>
								</div>
								<div class="progress pd-progress-style3">
									<div class="progress-bar out-of-view" role="progressbar"
										aria-valuenow="93" aria-valuemin="0" aria-valuemax="100"
										style="width: 60%" inViewport
										[inViewportOptions]="{ threshold: [0] }"
										(inViewportAction)="onIntersection($event)">
										<span class="pb-label" translate>Edición de Imagen</span> <span
											class="pb-percent">60%</span>
									</div>
								</div>

							</div>
						</div>
					</div>
				</section>
				<!-- Progress Bar Style 3 End -->

			</div>

		</div>
		<!-- End multimedia skill -->
	</div>

	<!-- NEXT SECTION -->
	<div class="content skill_category">
		<h2 data-aos="fade-in">OS:</h2>
		<div class="content skill-container">
			<div data-aos="flip-right" data-aos-duration="500" class="skill2 imageSkill">
				<img src="assets/linux-icon.svg">
				<div class="skill-image-description">Linux</div>
			</div>
			<div data-aos="flip-right" data-aos-duration="1000" class="skill2 imageSkill">
				<img src="assets/microsoft-icon.svg">
				<div class="skill-image-description">Windows</div>
			</div>
			<div data-aos="flip-right" data-aos-duration="1500" class="skill2 imageSkill" style="background-color:#A4C639 !important">
				<img src="assets/android-icon.svg">
				<div class="skill-image-description">Android</div>	
			</div>
		</div>
		<h2 data-aos="fade-in" translate>Idiomas:</h2>
		<div class="content skill-container">
			<div data-aos="flip-left" data-aos-duration="500" class="skill2"><div translate>Gallego</div><div translate>(nativo)</div></div>
			<div data-aos="flip-left" data-aos-duration="1000" class="skill2" translate>Español<div translate>(nativo)</div></div>
			<div data-aos="flip-left" data-aos-duration="1500" class="skill2" translate>Inglés<div translate>(medio)</div></div>
		</div>
		<h2 data-aos="fade-in">Soft skills:</h2>
		<div data-aos="fade-in" style="padding-bottom:2em">
			<span translate>Paciencia, asertividad, liderazgo, trabajo en equipo, resolución de problemas y creatividad</span>
		</div>

	</div>

</div>